<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <%= link_to task.title, task_path(task) %>
    <%= task.completed %>
    <%= link_to "Delete #{task.title}",
                task_path(task),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New Task", new_path %>
